html
{
  scroll-behavior: smooth;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 50px;
}
h1
{
  color:#343434;
  font-size: 50px;
  margin-bottom: 0px;
  
}
h2{
	font-size: 40px;
	color: #0004b0;
}
h3{
	color:#343434;
	font-size: 26px;
}
h4{
	margin:0;
	font-style: 30px;
}
a
{
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a{
	color:#0b548a;
}
.links{
	font-size: 23px;
}


.topnav{
	margin: 0 -2vw;
	align-items: center;
	overflow: hidden;
	position: sticky;
	top: 0;
	background-color: #FFFFFF;
	margin-top: -40px;
	font-size: 1.7vw;
}


.topnav a{
	float: left;
	color: #444;
	text-align: center;
	padding: 14px 15px;
	text-decoration: none;
	font-weight: 900;
}

.topnav a:hover {
	background-color: rgb(223, 223, 223);
	color: #000;
}
#github{
	font-style: italic;
}
.skills li, .achievement li{
	padding: 5px;
}
#intro
{
	height:650px;
	padding: 50px;
	color: #343434;
	font-size:35px;
	font-style:bold;
	padding-top: 100px;
	/* margin-left: 50px; */
	
}
.section{
	padding: 50px;
	color: #343434;
	font-size:20px;
	font-style:bold;
}
.coverimage{
	border-radius: 50%;
	float: right;
	padding: 25px;
	margin-right: 25px;
	margin-top: 50px;
	max-width: 300px;
	max-height: 300px;
}
.education{
	font-size: 20px;
	padding: 20px 0;
}
.position{

	font-style: italic;
}
.break{
	margin:-50px;
	height: 7px;
}






.widgets_div {
	padding: 22.85px 0;
  }
  
.widgets_div .icon_div {
	display: inline-block;
	margin-left: 15px;
	vertical-align:middle;
}

.widgets_div .icon_div span i {
	font-size: 36px;
}

.widgets_div .text_div {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}

.widgets_div .text_div span {
	color: #58666e;
	font-size: 25px;
}

.widgets_div .text_div span+span {
	color: #747F85;
	font-size: 25px;
}